.navbar-brand { font-family: 'Roboto', sans-serif; font-weight: 100; 
}

body { font-family: 'Roboto', sans-serif;
}

.nav li { font-family: 'Roboto', sans-serif; font-weight: 100; 
}

#footer {
	background-color: rgba(243,243,243,0.9);
	position: fixed; 
	bottom: 0;
	width: 100%;
}

.top-buffer {
	margin-top: 40px;
}

.top-buffer-lg {
	margin-top: 80px;
}

.top-buffer-sm {
	margin-top: 25px;
}

.post-title{
	display: inline;
}

.bottom-buffer{
	margin-bottom: 145px;
}

#headline{
font-size: 54px;
  letter-spacing: 0.5em;
}