{% extends "base.html" %}
{% block content %}

	<center>
		<h1 id="headline">STINKDIGITAL-BLOG</h1>
	</center>
	
	{% for post in posts %}
	<div class="post-summary top-buffer col-md-8 col-md-offset-2">
		<h1 class="post-title"><a href="/post/{{ post.slug }}">{{ post.title }}</a></h1>
		{% if user.is_authenticated %}
			<a href="/post/delete/{{ post.slug}}"><span class="glyphicon glyphicon-trash"></span></a>

			<a href="/post/edit/{{ post.slug}}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}

		<h4>Posted by {{ post.user.username}} on {{ post.date|date }}</h4>

		{% if post.comment_set.all|length_is:"1" %}
			<p>{{post.comment_set.all|length}} Comment</p>

			{% else %}

			<p>{{post.comment_set.all|length}} Comments</p>
		{% endif %}

		<p>{{ post.content|safe|truncatewords:80 }}</p>
		<a href="/post/{{ post.slug}}">Continue Reading...</a><br>

		<div class="post-tags top-buffer-xs">
			<h4>Filed Under: </h4>
			{% for pt in post.posttags_set.all %}
				<p>{{pt.tag}}</p>
			{% endfor %}
		</div>
	</div>
	{% endfor %}

{% endblock content%}