{% extends "base.html" %}

{%load css%}

{% block content %}

<div id="edit-post" class="col-md-8 col-md-offset-2">
	<h1>Edit Post</h1>
	<form method="post">{% csrf_token %}
	<div class="form-group">
		{{ form.non_field_errors }}
			<h4>Title:</h4>
    	{{ form.subject.errors }}
    	{{form.title|addcss:"form-control"}}
    	<h4>Content:</h4>
   	  {{ form.message.errors }}
    	{{ form.content|addcss:"form-control" }}<br>

<!-- <div class="post-tags col-md-8 col-md-offset-2">

	<p>Filed Under: </p>
		{% for pt in post.posttags_set.all %}
			<p>{{pt.tag}}</p>
			<label class="checkbox-inline"><input type="checkbox" name="tags" value="{{ pt.tag.id }}" checked>{{tag.name}}</label>
		{% endfor %}
</div> -->

	 <input type="submit" value="Submit" class="form-control btn btn-default" />
	 </div>
	</form>
</div>


{% endblock content%}

