{% extends "base.html" %}

{% block content %}
<div class="col-md-8 col-md-offset-2">
	<h1>New Post</h1>

	<form action="/post/create/" method="post"> 
		{% csrf_token %}
			<div class="form-group">
			  Title: <input type="text" name="title" class="form-control" required><br>
			  Content: <textarea name="content" rows="15" class="form-control" placeholder="Enter your post in plain text or with HTML formatting." required></textarea><br>
				<div class="post-tags bottom-buffer-sm top-buffer-sm">
					<p>File Under:</p>
					{% for tag in tags%}
						<label class="checkbox-inline"><input type="checkbox" name="tags" value="{{ tag.id }}">{{tag.name}}</label>
					{% endfor %}
					<a href="/tag/new">Create New Tag</a>
				</div>
					<input type="submit" value="Create Post" class="form-control btn btn-success"/>
			</div>
	</div>
</form>


{% endblock content%}
