{% extends "base.html" %}
{% block content %}

<div class="post top-buffer col-md-8 col-md-offset-2">
	<h1 class="post-title">{{ post.title }}</h1>
		{% if user.is_authenticated %}
			<a href="/post/delete/{{ post.slug}}"><span class="glyphicon glyphicon-trash"></span></a>

			<a href="/post/edit/{{ post.slug}}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
	<h4>Posted by {{ post.user.username}} on {{ post.date|date }}</h4>
	<p>{{ post.content|safe }}</p>
</div>

<div class="post-tags col-md-8 col-md-offset-2">
	<h4>Filed Under: </h4>
		{% for pt in post.posttags_set.all %}
			<p>{{pt.tag}}</p>
		{% endfor %}
</div>


	<div id="comment-group" class="top-buffer-sm col-md-8 col-md-offset-2">
		<h4 id="comment-count">
			{% if post.comment_set.all|length_is:"1" %}
				{{post.comment_set.all|length}} Comment: </h4>

				{% else %}

				{{post.comment_set.all|length}} Comments:
			{% endif %}
			</h4>

		{% for comment in post.comment_set.all %}
			<div class="comment" id="{{comment.id}}">
				<ul id="comment-list">
					<li>On {{comment.date|date}}, <a href='mailto:{{comment.email}}'>{{comment.name}}</a> said, "{{comment.content}}"</li>
				</ul>
			</div>

			{% if user.is_authenticated %}
				<div class="row">
					<form action="/comment/delete/" method="post" class="comment-delete-form"id ="comment-delete-form{{comment.id}}" > 
						{% csrf_token %}
						<div class="col-md-6 col-md-offset-3">
							<div class="form-group">
							  <input type="hidden" name="id" value="{{ comment.id }}">
							  <input type="hidden" name="post_slug" value="{{ post.slug }}">
								<input type="submit" value="Delete Comment" class="form-control btn btn-info"/>
							</div>
						</div>
					</form>
				</div>
			{% endif %}

		{% endfor %}
	</div>


<div id="leave-comment" class="col-md-8 col-md-offset-4">
	<h4>Leave a Comment:</h4>
	<form action="/comment/create/" method="post" id="comment-form"> 
		{% csrf_token %}
		<div class="col-md-6">
			<div class="form-group">
			  Name: <input type="text" name="name" id ="comment-name" class="form-control" required><br>
			  Email: <input type="text" name="email" id ="comment-email" class="form-control" required><br>
			  Comment: <textarea name="content" rows="3" id ="comment-content" class="form-control" required></textarea><br>
			  <input type="hidden" name="post_id" id="post_id" value="{{ post.id }}">
				<input type="submit" value="Comment" id="comment-submit" class="form-control"/>
			</div>
		</div>
	</form>
</div>

{% endblock content%}