{% extends "base.html" %}

{%load css%}

{% block content %}

<div id="edit-post" class="col-md-8 col-md-offset-2">
	<h1>Edit Post</h1>
	<form action="/post/edited/{{post.slug}}/" method="post">
	{% csrf_token %}
	<div class="form-group">
		<h4>Title:</h4>
		<input type="text" value="{{post.title}}" name="title" class="form-control" required>
		<h4>Content:</h4>
		  <textarea name="content" rows="15" class="form-control" required>{{post.content}}</textarea>
		<div class="post-tags bottom-buffer-sm top-buffer-sm">
			<p>Filed Under: </p>
			{% for tag in tags %}
				{% if tag in checked_tags %}
					<label class="checkbox-inline"><input type="checkbox" name="tags" value="{{ tag.id }}" checked>{{tag.name}}</label>	
				{% else %}
					<label class="checkbox-inline"><input type="checkbox" name="tags" value="{{ tag.id }}">{{tag.name}}</label>
				{% endif %}
			{% endfor %}
		</div>
	 	<input type="submit" value="Submit" class="form-control btn btn-default" />
	 </div>
	</form>
</div>


{% endblock content%}

